# vim:set ft=snippet nolist:

# Jasmine test
snippet it
	it("${1}", function() {
		expect(${2:"Test Implemented"}).toBe(false);
	});
# Jasmine description
snippet d
	describe("${1}", function() {
		${2}
	});
snippet c
	context("${1}", function() {
		${2}
	});
snippet b
	beforeEach( function() {
		${1}
	});
snippet e
	expect( ${1})${2}
snippet tobe
	toBe(${1});
snippet toe
	toEqual(${1});
snippet er
	Ember.run( function() {
		${1}
	});
