# vim:set ft=snippet nolist:

snippet b
	beforeEach( function() {
		${1}
	});
snippet be
	beforeEachWithEmber( function() {
		${1}
	});
snippet it
	it("${1}", function() {${2}});
snippet d
	describe("${1}", function() {
		${2}
	});
snippet c
	context("${1}", function() {
		${2}
	});
snippet e
	expect(${1:thing})${2:.not}.to${3:Equal}();
