# vim:set ft=snippet nolist:

snippet it
	it '${1}' do
	  ${2}
	end
snippet xit
	xit '${1}' do
	end
snippet d
	describe '${1}' do
	  ${2}
	end
snippet c
	context '${1}' do
	  ${2}
	end
snippet b
	before do
		${1}
	end
snippet l
	let(:#{$1}) do
		${2}
	end
